<p>To verify this email address belongs to you, please enter the code below on the verification page:</p>
<h4>{{code}}</h4>
<p>This code will expire 5 minutes after this email was sent.</p>
<p>If you receive this letter by mistake, you can just ignore it.</p>
<br />
<p>TrackingSystem Support</p>
