<h4>Hi, {{username}}</h4>
<p> You recently requested a password reset for your account</p>
<p>password : {{password}}</p>
<h3 style='color:#b40b0b;'>Please log in and <span>reset your password.</span></h3>
<a href='{{url}}'>Change a new password</a>

<br />
<br />
<p>Sincerely,</p>
<p>TrackingSystem</p>
